---
title: Craft Interactive
layout: base.njk
---


<!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start Banner Section -->
        <section class="demo_1 banner_section banner_demo8 demo__charity">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-5 order-2 order-lg-1 my-auto">
                <div class="banner_title">
                  <h1>
                
                    We’re on the grow
                  </h1>
                  <p>
                    If you crave challenging work, ongoing opportunity for career growth, and rewards that make it all worthwhile, Craft Interactive Technology LLC has the job you are looking for.


                </div>
              </div>
              <div class="col-lg-6 ml-auto order-1 order-lg-1">
                <div class="illustration__ch">
                  <img class="img-fluid" src="/assets/img/undraw_career_development_oqcb.png">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Banner -->




        <!-- Start faq_one_inner -->
        <section class="faq_one_inner py-0 mt-0 margin-b-6 margin-t-12 w-100">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-5">
                <div class="title_sections_inner margin-b-5">
                  <h2>Available Positions </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <!-- block Collapse -->
                <div class="faq_section faq_demo3 faq_with_icon">
                  <div class="block_faq">
                    <div class="accordion" id="accordionExample">
                      <div class="card">
                        <div class="card-header active" id="headingOne">
                          <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                              Python Developer
                            </button>
                          </h3>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                          data-parent="#accordionExample">
                          <div class="card-body">
                            <p class="mb-0">
                             
                             We are looking for a Python Developer to join our engineering team and help us develop and maintain various software products.

Python Developer responsibilities include writing and testing code, debugging programs and integrating applications with third-party web services. To be successful in this role, you should have experience using server-side logic and work well in a team.

Please email your CV to us

                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo">
                              Sales Director
                            </button>
                          </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                          data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                          The primary focus is to plan, manage and develop a team of Sales Representatives. Develops and implements a comprehensive strategy that maximizes opportunities across a subset of products, product lines or services directly or via partners to small-and medium sized accounts.

Participates as a team member in strategic and tactical planning for the division. Develops working relationships with license, consulting, education, and/or support field managers to develop joint account plans. Develops and executes strategic plans utilizing resources from various marketing and sales functions to maximize revenue with frequent guidance from the area manager or director. Responsible for coaching, performance management, and career development of staff. Handles escalations and participates directly in complex sales situations to negotiate and/or resolve disputes and ensure customer satisfaction. Conducts sales forecasts, territory planning, demand generation, deal strategy development and trend analysis. Please email your CV to us

                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                              data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Female Telesales Executive
                            </button>
                          </h3>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-parent="#accordionExample">
                          <div class="card-body">
                            <p>
                             We are looking to hire an experienced, customer-oriented Telesales Executive to utilize inbound and outbound telephone calls to achieve sales targets. The Telesales Executive’s responsibilities include cross-selling or up-selling our products where possible, receiving incoming telephone calls and assisting with customer inquiries, as well as maintaining an accurate record of all calls made and received. You should also be able to liaise with the appropriate departments to resolve customer complaints. Please email your CV to us
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFour">
                          <h3 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Odoo Developer
                            </button>
                          </h3>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                          data-parent="#accordionExample">
                          <div class="card-body">
                            <p>

                              As a developer, you will lead and participate in development projects for our product, and be involved in all development-related aspects of our technical operations and infrastructure.

                             Able to identify the requirement and propose a good alternative solution to client requirement.
Design and develop Odoo apps(new module development, customisation).
Develop application/features that affect everyday life. Please email your CV to us
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End. faq_one_inner -->