---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.url !== "/robots.txt" and page.url !== "/sitemap.xml" %}
<url>
  <loc>https://www.erpnextdubai.com{{ page.url }}</loc>
  <lastmod>{{ page.date | dateToISO }}</lastmod>
  {%- if page.url === "/" %}
  <priority>1.00</priority>
  {%- elseif "/blog/" in page.url and page.url !== "/blog/" %}
  <priority>0.80</priority>
  {%- elseif "/services/" in page.url %}
  <priority>0.90</priority>
  {%- else %}
  <priority>0.70</priority>
  {%- endif %}
</url>
{%- endif %}
{%- endfor %}
</urlset>
