---
title: Craft Interactive
layout: base.njk
---


 <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start banner_about -->


        <!-- Start Banner Section -->
        <section class="demo_1 banner_section banner_demo8 demo__charity">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-5 order-2 order-lg-1 my-auto">
                <div class="banner_title">
                  <h1>
                
                    Contact us
                  </h1>
                  <p>
                    Drop by for a cup of coffee
                </div>
              </div>
              <div class="col-lg-6 ml-auto order-1 order-lg-1">
                <div class="illustration__ch">
                  <img class="img-fluid" src="/assets/img/undraw_Location_search_re_ttoj.png">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Banner -->





        <!-- Start section_contact_four -->
        <section class="section_contact_five contact_six margin-t-5 padding-t-7 margin-b-10">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">

                 <div class="title_sections_inner">
                  <h2>Get in touch</h2>
                </div>
    
                <div class="information_agency d-md-flex">
                  <div class="item_data mr-5">
                    <p>Tel.</p>
                    <a class="tel" href="tel:+18091206705">+971 4 580 1123  </a>
                  </div>
                  <div class="item_data">
                    <p>Email.</p>
                    <a class="tel" href="mailto:hello@craftinteractive.ae">hello@craftinteractive.ae</a>
                  </div>
                </div>

                <h3 class="font-s-16 font-w-500 c-gray margin-t-4">Dubai </h3>
                <p class="font-s-16"> Office # 802, Tower- B 
Damac Executive Bay <br/>
Al A’amal Street – Business Bay <br/>
Dubai – UAE
 <p> 24/7: <a href="tel:+97145801123">+971 55 551 9394</a></p>  

              
                    
</p>

              

                                <h3 class="font-s-16 font-w-500 c-gray margin-t-4">Abu Dhabi </h3>
                                
                <p class="font-s-16"> 
                Office No A 33, Mezzanine floor  <br/>
                Khalidiya Tower- Tower A 
<br/>

Abu Dhabi – UAE
 <p> 24/7 :  <a href="tel:+971554501041"> +971 55 450 1041 </a>     </p>  
</p>

                <div class="scoail__media">
                  <a href="https://www.facebook.com/craftinteractivetechnology/" target="_blank">
                    <i class="tio facebook"></i>
                  </a>
                  <a href="https://www.linkedin.com/company/craft-interactive-technology"  target="_blank">
                    <i class="tio linkedin"></i>
                  </a>
                  <a href="https://twitter.com/interactive_llc"  target="_blank">
                    <i class="tio twitter"></i>
                  </a>
                </div>


              </div>
              <div class="col-lg-6 ml-auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14442.94633967114!2d55.2665228!3d25.1783708!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xefe51432c5ff9649!2sCraft%20Interactive%20Technology%20LLC!5e0!3m2!1sen!2sae!4v1612950603068!5m2!1sen!2sae" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
               </div>
            </div>
          </div>
        </section>
        <!-- End. section_contact_four -->

       


       