---
title: Your ERPNext partner in Dubai, UAE
layout: base.njk
---






 


      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start Banner Section -->
        <section class="pt_banner_inner banner_Sblog_default">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-7 my-auto">
                <div class="banner_title_inner margin-b-8">
                  <div class="icon_c six">
                    <svg id="Stockholm-icons-_-Home-_-Deer" data-name="Stockholm-icons-/-Home-/-Deer"
                      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <rect id="bound" width="24" height="24" fill="none" />
                      <path id="Combined-Shape"
                        d="M21.982,8.189a.993.993,0,0,1-.467.668l-5,3A1,1,0,0,1,16,12H8a1,1,0,0,1-.514-.143l-5-3a.993.993,0,0,1-.467-.668l-1-4.993A1,1,0,0,1,2.981,2.8l.634,3.168L6.293,3.293A1,1,0,0,1,7.707,4.707L4.613,7.8,8.277,10h7.446l3.664-2.2L16.293,4.707a1,1,0,0,1,1.414-1.414l2.679,2.679L21.019,2.8a1,1,0,0,1,1.961.392Zm-6.929.705a1,1,0,1,1,.894-1.789l3,1.5a1,1,0,0,1,.067,1.752l-2.5,1.5A1,1,0,0,1,16,12H8a1,1,0,0,1-.514-.143l-2.5-1.5a1,1,0,0,1,0-1.715l2.5-1.5A1,1,0,1,1,8.514,8.857L7.444,9.5l.833.5h7.446l.7-.42Z"
                        fill="#fff" opacity="0.3" />
                      <path id="Rectangle-192"
                        d="M9.855,10h4.289a2,2,0,0,1,1.88,2.683L13.342,20.06A1.428,1.428,0,0,1,12,21h0a1.428,1.428,0,0,1-1.342-.94L7.976,12.683A2,2,0,0,1,9.855,10Z"
                        fill="#fff" fill-rule="evenodd" />
                    </svg>
                  </div>
                  <h1>
                    {{title}}
                  </h1>
          
            </div>

           
          </div>
        </section>
        <!-- End Banner -->

        <section class="content-Sblog" data-sticky-container>
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="fixSide_scroll" data-sticky-for="1023" data-margin-top="100">
                  <div class="item">

                      {% if industry %}
                             <p> <b> Industry: </b> {{industry}} </p>
                      {% endif %}
                      {% if modules %}
                             <p> <b> Modules: </b> {{modules}} </p>
                      {% endif %}
                      {% if website %}
                             <p> <b> Website: </b> {{website}} </p>
                      {% endif %}
                      {% if employees %}
                             <p> <b> Employees: </b> {{employees}} </p>
                      {% endif %}
            
                    
                    
    
                   
                  </div>
                  </div>

              
              </div>
              <div class="col-lg-7">
                <div class="body_content">

                     <img class="cover-parallax" src="{{image}}" alt="">
                     <br/><br/>
                    {{ content | safe }}   



                </div>
              </div>
            </div>
          </div>
        </section>



      </main>
    </div>
    <!-- [id] content -->