



 <!-- Start Simple Contact -->
        <section class="simplecontact_section padding-py-7">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-10 col-lg-5 text-center">
                <div class="title_sections">
                  <h2>Want to know more</h2>
                  <p>
                    Let’s explore how we can impliment ERPNext to
                    fit your business needs.
                  </p>
                  <a class="btn rounded-8 c-white btn_md_primary ripple scale bg-blue" href="/services/erpnext-demo/" role="button">
                    Book ERPNext Demo
                  </a>
                </div>
              </div>
            </div>
            <div class="circle-ripple">
              <div class="ripple ripple-1"></div>
              <div class="ripple ripple-2"></div>
              <div class="ripple ripple-3"></div>
            </div>
          </div>
        </section>
        <!-- End Simple Contact -->

        



    <!-- footr -->
    <footer class="defalut-footer foot_demo3 light margin-t-1 padding-py-8">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="item_about">
              <a href="/">
                <img class="logo" src="/assets/img/craftinteractive_logo.png" width="226px" height="43px"  alt="logo"/>
              </a>
              <p>
               We believe that the future is digital. We also believe that the denial to embrace new technology, whether personal or corporate, postpones progress. 
              </p>
              <div class="address">
               <span> Office # 802, Tower- B </span>
                <span>  Damac Executive Bay</span>
                <span> Al A’amal Street – Business Bay </span>
                <span>  Dubai – UAE</span>



                <span>Call us: <a href="tel:+97145801123">+971 4 580 1123 </a></span>
                <span>24/7: <a href="tel:+97145801123">+971 55 551 9394 </a></span>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-2">
            <div class="item_links">
              <h4>Social</h4>              
              <a class="nav-link" target="_blank" href="https://www.facebook.com/craftinteractivetechnology/">Facebook</a>
              <a class="nav-link" target="_blank" href="https://twitter.com/interactive_llc">Twitter</a>
              <a class="nav-link" target="_blank" href="https://www.linkedin.com/company/craft-interactive-technology">LinkedIn</a>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-2">
            <div class="item_links">
              <h4>Company</h4>
                <a class="nav-link"  href="/company">About</a>
                <a class="nav-link" href="/careers">Careers</a>
                <a class="nav-link" href="/blog">Blog</a>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
            <div class="item_subscribe">
              <h4>Subscribe</h4>
              <p>
                Subscribe to get the latest<br />
                news form us
              </p>
              <form class="form-row">
                <div class="col-md-11 form-group subscribebtn">
                  <div class="item_input">
                    <input type="email" class="form-control rounded-8" id="exampleInputEmail1"
                      placeholder="Enter email address" aria-describedby="emailHelp" />
                    <button type="button" class="btn ripple_circle scale rounded-8 btn_subscribe">
                      <i class="tio send"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-12 text-center padding-t-4">
          <div class="copyright">
            <span>©   <script>document.write(new Date().getFullYear())</script>

              Craft Interactive.  All Right Reseved.</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- End. -->

    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    {# <!-- Tosts -->
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
      <div class="toast toast_demo" id="myTost" role="alert" aria-live="assertive" aria-atomic="true"
        data-animation="true" data-autohide="false">
        <div class="toast-body">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <i class="tio clear"></i>
          </button>
          <h5>Hi there 👋</h5>
          <p>We are glad you joined us <a href="#">Join us</a></p>
        </div>
      </div>
    </div>
    <!-- End. Toasts --> #}

    <!-- Video Modal -->
    <div class="modal mdll_video fade" id="mdllVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <!-- Close -->
      <button type="button" class="close bbt_close ripple_circle" data-dismiss="modal" aria-label="Close">
        <i class="tio clear"></i>
      </button>
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                allow="autoplay"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

