
      <!-- Start header -->
      <header class="header-nav-center active-blue" id="myNavbar">
        <div class="container">
          <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-light px-sm-0">

            <a class="navbar-brand" href="/">
              <img class="logo" src="/assets/img/craftinteractive_logo.png" width="226px" height="43px"  alt="logo"/>
            </a>

            <button class="navbar-toggler menu ripplemenu" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <svg viewBox="0 0 64 48">
                <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
              </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="/services/erpnext/">ERPNext</a>
                </li>

         

                <li class="nav-item dropdown dropdown-hover dropdown_full position-static">
                  <a class="nav-link dropdown-toggle dropdown_menu" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services

                    <div class="icon_arrow">
                      <i class="tio chevron_right"></i>
                    </div>

                  </a>
                  <div class="dropdown-menu w-100 single-drop" aria-labelledby="navbarDropdown">
                    <div class="dropdown_menu_nav">
                      <!-- menu #1 -->
                      <div class="item_colume">
                        <span class="sub_title">ERPNext</span>
                        <div class="sub_nav_menu">
                          <ul class="nav_meun">


                            {%- for post in collections.link01 -%} 
                            <li>
                              <a href="{{ post.url}}" class="dropdown-item"> {{ post.data.title }} </a>
                            </li>
                            {%- endfor -%}

                          </ul>
                        </div>
                      </div>

                      <!-- menu #2 -->
                      <div class="item_colume">
                        
                        <div class="sub_nav_menu">
                          <ul class="nav_meun">

                            <div class="margin-t-3">
                            {%- for post in collections.link02 -%} 
                            <li>
                              <a href="{{ post.url}}" class="dropdown-item"> {{ post.data.title }} </a>
                            </li>
                            {%- endfor -%}

                            </div>
                            

                          </ul>
                        </div>
                      </div>

                     <!-- menu #3 -->
                      <div class="item_colume">
                        <span class="sub_title">Odoo</span>
                        <div class="sub_nav_menu">
                          <ul class="nav_meun">
                            <li>
                              <a href="#" class="dropdown-item">Odoo</a>
                            </li>
                      
                          </ul>
                        </div>
                      </div>
                      
                   {# 
                      <!-- menu #4 -->
                      <div class="item_colume">
                        <span class="sub_title">Basic</span>
                        <div class="sub_nav_menu">
                          <ul class="nav_meun">
                            <li>
                              <a href="../elements/button.html" class="dropdown-item">Button</a>
                            </li>
                            <li>
                              <a href="../elements/contact-form.html" class="dropdown-item">Contact Form</a>
                            </li>
                            <li>
                              <a href="../elements/clients-logo.html" class="dropdown-item">Clients Logo</a>
                            </li>
                            <li>
                              <a href="../elements/social-networks.html" class="dropdown-item">Social
                                Networks</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- menu #5 -->
                      <div class="item_colume">
                        <span class="sub_title">Infographic</span>
                        <div class="sub_nav_menu">
                          <ul class="nav_meun">
                            <li>
                              <a href="../elements/countdown.html" class="dropdown-item">Countdown</a>
                            </li>
                            <li>
                              <a href="../elements/counter.html" class="dropdown-item">Counter</a>
                            </li>
                            <li>
                              <a href="../elements/iconbox.html" class="dropdown-item">Icon Box</a>
                            </li>
                            <li>
                              <a href="../elements/process.html" class="dropdown-item">Process</a>
                            </li>
                            <li>
                              <a href="../elements/services.html" class="dropdown-item">Service Box</a>
                            </li>
                          </ul>
                        </div>
                      </div> #}
                    </div>
                  </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/case-studies">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/careers">Careers</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="/company">Company</a>
                </li>





              </ul>
              <div class="nav_account btn_demo2">
                <a href="/contact" class="btn btn_sm_primary effect-letter rounded-8">
                  Contact
                </a>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
        <!-- end container -->
      </header>
      <!-- End header -->