---
title: CRM
layout: base.njk
tags: ['erpnext', 'link02']
---

 <!-- Start service__about -->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0">
                    <div class="before_title">
                      <span class="c-orange-red">ERPNext / {{title}}</span>
                    </div>
                    <h2>
                      Close sales faster with the World's Best Open Source CRM
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">360-Degree View Of Your Business</a>

                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Omnichannel Interactions</a>
                      
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false"> Automate Daily Chores</a>


                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Sales Team Efficiency</a>
                      
                    <a class="nav-link" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab"
                      aria-controls="v-pills-one" aria-selected="false"> Total Visibility Of Sales Pipeline</a>

                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab"
                      aria-controls="v-pills-two" aria-selected="false"> Crisp, Beautiful Quotations</a>

                    <a class="nav-link" id="v-pills-03-tab" data-toggle="pill" href="#v-pills-03" role="tab"
                      aria-controls="v-pills-03" aria-selected="false"> Digital Marketing </a>

                    <a class="nav-link" id="v-pills-04-tab" data-toggle="pill" href="#v-pills-04" role="tab"
                      aria-controls="v-pills-04" aria-selected="false">  On-The-Fly Customizations </a>



                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/opportunity-dashboard4ddb50.png" alt="">
                          
                        </div>
                        <div class="about__info">
                          <p>
360-Degree View Of Your Business                            </p>
                        
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/omnichannel-interactions.png" alt="">
                        
                        </div>
                        <div class="about__info">
                          <p> Don't miss out on anything from your leads. ERPNext makes it easy to convert all interactions into data so your sales team doesn't have to juggle between apps. With Call Popup, you can receive live notifications of incoming calls on your desktop. You can also turn emails in your inbox into leads with this open source CRM software.  </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/opportunity-assignementcbbccd.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p> Reduce overhead of manual work by setting up assignment rules (such as round robin or load balancing) to automatically distribute leads among the team. This leaves more time to respond to customers, empowering your sales team to meet commitments on time. </p>
                         
                        </div>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/lead-owner-efficiency.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Don't miss out on the big picture of your sales team. ERPNext includes out-of-the-box reports to monitor team performance and analyze the lead traffic or sales stage of all prospects. You can even collaborate to address leads or opportunities with multiple assignments or mentions.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-one" role="tabpanel"
                      aria-labelledby="v-pills-one-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/pipeline69b211.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>ERPNext's open source CRM includes a real-time view of important sales and marketing opportunities. This helps you craft a strategy to increase your lead-to-deal conversion rates.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                      aria-labelledby="v-pills-two-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-quotations-print.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>First impressions matter. Beautify your quotations and keep documents consistent with custom print format templates (using HTML or Jinja templating) and one-time configurations.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-03" role="tabpanel"
                      aria-labelledby="v-pills-03-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/newsletterbd704e.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Our open-source CRM tool makes your lead closure soar. Use email campaigns for targeted marketing, send bulk emails to your customers with beautiful newsletters, and reap the benefits of your campaigns with granular analysis of lead sources. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-04" role="tabpanel"
                      aria-labelledby="v-pills-04-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/customize-lead.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Create your own open source CRM software. Map your most important data by adding custom fields in your forms. Customize form behavior by auto-fetching values, hide fields based on user roles, and create custom print formats — all without a single line of code.  </p>
                         
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. service__about -->
