---
title: ERPNext
layout: base.njk
tags: ['erpnext', 'link01']
---




   <!-- Stat main -->
      
        <!-- Start Banner Section -->
        <section class="demo_1 banner_section" id="home">
          <div class="container">
            <div class="row justify-content-md-center text-center">
              <div class="col-md-8 col-lg-6">
                <div class="banner_title margin-b-5">
                  <h1> Designed for both, simplicity and power </h1>
                  <p>
                   All the tools you need to manage cash flow in one place, right from recording transactions to summarizing and analyzing financial reports. It's bookkeeping made easy.
                  </p>
            
                </div>
              </div>
              <!-- image Product -->
              <div class="image_product">
                <img src="../../assets/img/web-sass.png" alt="" />
              </div>
            </div>
          </div>
        </section>
        <!-- End Banner -->











        <!-- Start feature__demo4 -->
        <section class="services_section save__nature feature__demo4 padding-t-12 margin-t-6" id="Features">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-md-8 col-lg-5">
                <div class="title_sections">
                  <div class="before_title">
                   
                    <span class="c-lightgreen">ERPNext</span>
                  </div>
                  <h2>Almost everything you need !</h2>
                  <p>ERPNext comes with 1000+ objects to help you run your business</p>
                </div>
              </div>
            </div>
            

            <div class="row">

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="0">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.551" height="21.407" viewBox="0 0 21.551 21.407">
                      <g id="Group_6273" data-name="Group 6273" transform="translate(-4.743 -3.495)">
                        <path id="Combined-Shape"
                          d="M5.186,3H6.372A1.186,1.186,0,0,1,7.557,4.186V23.159a1.186,1.186,0,0,1-1.186,1.186H5.186A1.186,1.186,0,0,1,4,23.159V4.186A1.186,1.186,0,0,1,5.186,3Zm5.929,0H12.3a1.186,1.186,0,0,1,1.186,1.186V23.159A1.186,1.186,0,0,1,12.3,24.345H11.115a1.186,1.186,0,0,1-1.186-1.186V4.186A1.186,1.186,0,0,1,11.115,3Z"
                          transform="translate(0.743 0.558)" fill="#fff" fill-rule="evenodd" />
                        <rect id="Rectangle-Copy-2" width="3.557" height="21.345" rx="1"
                          transform="translate(15.981 4.653) rotate(-19)" fill="#fff" opacity="0.3" />
                      </g>
                    </svg>

                  </div>
                  <div class="txt">
                    <h3>Accounting</h3>
                    <p>Get a real-time view of your cash flow. Full-fledged accounting module covering every aspect of bookkeeping.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18.797" height="23.496" viewBox="0 0 18.797 23.496">
                      <g id="Group_6274" data-name="Group 6274" transform="translate(-4.699 -2.35)">
                        <path id="Rectangle-71" d="M8.7,18h0a4.7,4.7,0,0,1,4.7,4.7H4A4.7,4.7,0,0,1,8.7,18Z"
                          transform="translate(0.699 3.146)" fill="#fff" fill-rule="evenodd" opacity="0.3" />
                        <path id="Combined-Shape"
                          d="M7.524,13.9V9.049a7.049,7.049,0,0,1,14.1,0v1.175h-2.35V9.049a4.7,4.7,0,0,0-9.4,0V13.9a4.7,4.7,0,1,1-2.35,0ZM8.7,20.8a2.35,2.35,0,1,0-2.35-2.35A2.35,2.35,0,0,0,8.7,20.8Z"
                          transform="translate(0.699 0.35)" fill="#fff" fill-rule="evenodd" />
                        <path id="Oval-31"
                          d="M18.35,17.874a2.35,2.35,0,0,0,2.35-2.35q0-1.3-2.35-3.524Q16,14.227,16,15.524A2.35,2.35,0,0,0,18.35,17.874Z"
                          transform="translate(2.797 2.098)" fill="#fff" fill-rule="evenodd" opacity="0.3" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>HR and Payroll</h3>
                    <p>Manage full employee life cycle right from onboarding, payroll, attendance, expense claims, assets to separation.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23.485" height="18.788" viewBox="0 0 23.485 18.788">
                      <g id="Group_6275" data-name="Group 6275" transform="translate(-2.349 -4.697)">
                        <path id="Combined-Shape"
                          d="M13.742,8.7a2.348,2.348,0,1,1,2.348-2.348A2.348,2.348,0,0,1,13.742,8.7ZM3.174,20.439H24.31a1.174,1.174,0,1,1,0,2.348H3.174a1.174,1.174,0,1,1,0-2.348Z"
                          transform="translate(0.349 0.697)" fill="#fff" fill-rule="evenodd" opacity="0.3" />
                        <path id="Oval-38" d="M24.136,17.568A10.568,10.568,0,1,0,3,17.568Z"
                          transform="translate(0.522 1.22)" fill="#fff" fill-rule="evenodd" />
                      </g>
                    </svg>

                  </div>
                  <div class="txt">
                    <h3>Manufacturing</h3>
                    <p>Effectively maintain and manage multilevel bill of materials, production planning, job cards & inventory.</p>
                  </div>

                </div>
              </div>




              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="0">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18.689" height="20.163" viewBox="0 0 18.689 20.163">
                      <g id="Group_6276" data-name="Group 6276" transform="translate(-4.888 -4.744)">
                        <path id="Combined-Shape"
                          d="M6.282,4H20.65a1.186,1.186,0,0,1,1.184,1.116l.973,16.535a2.372,2.372,0,0,1-2.229,2.507q-.07,0-.139,0H6.493a2.372,2.372,0,0,1-2.372-2.372q0-.07,0-.139L5.1,5.116A1.186,1.186,0,0,1,6.282,4Z"
                          transform="translate(0.767 0.744)" fill="#fff" fill-rule="evenodd" opacity="0.3" />
                        <path id="Oval-28" d="M7,7H9.372a3.558,3.558,0,0,0,7.116,0H18.86A5.93,5.93,0,0,1,7,7Z"
                          transform="translate(1.303 1.303)" fill="#fff" fill-rule="evenodd" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>Sales and Purchase</h3>
                    <p>Increase productivity and lower costs by managing your sales and purchase cycles, from purchase to sales orders</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.102" height="19.102" viewBox="0 0 19.102 19.102">
                      <path id="Combined-Shape"
                        d="M9.292,7.79l1.164.815A.6.6,0,0,1,10.3,9.661L6.257,10.993a.6.6,0,0,1-.784-.55L5.356,6.2A.6.6,0,0,1,6.3,5.691l.963.674A9.552,9.552,0,1,1,4,13.551H6.388a7.161,7.161,0,1,0,2.9-5.761Z"
                        transform="translate(-4 -4)" fill="#fff" />
                    </svg>

                  </div>
                  <div class="txt">
                    <h3>CRM</h3>
                    <p>Win and retain more customers by optimizing the sales process. Track leads, opportunities, and send the quotes on the go.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.155" height="21.156" viewBox="0 0 21.155 21.156">
                      <g id="Group_6277" data-name="Group 6277" transform="translate(-3.525 -3.525)">
                        <path id="Mask" d="M12.7,12.4a4.7,4.7,0,1,1,4.7-4.7A4.7,4.7,0,0,1,12.7,12.4Z"
                          transform="translate(1.402 0.525)" fill="#fff" opacity="0.3" />
                        <path id="Mask-Copy"
                          d="M3,21.461C3.456,15.852,8.009,13,13.558,13c5.627,0,10.25,2.7,10.595,8.462a.807.807,0,0,1-.883.94H3.855A1.3,1.3,0,0,1,3,21.461Z"
                          transform="translate(0.525 2.279)" fill="#fff" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>Projects</h3>
                    <p>Deliver both internal and external projects on time, budget, and profitability. Track tasks, timesheets, and issues by project.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.155" height="21.156" viewBox="0 0 21.155 21.156">
                      <g id="Group_6277" data-name="Group 6277" transform="translate(-3.525 -3.525)">
                        <path id="Mask" d="M12.7,12.4a4.7,4.7,0,1,1,4.7-4.7A4.7,4.7,0,0,1,12.7,12.4Z"
                          transform="translate(1.402 0.525)" fill="#fff" opacity="0.3" />
                        <path id="Mask-Copy"
                          d="M3,21.461C3.456,15.852,8.009,13,13.558,13c5.627,0,10.25,2.7,10.595,8.462a.807.807,0,0,1-.883.94H3.855A1.3,1.3,0,0,1,3,21.461Z"
                          transform="translate(0.525 2.279)" fill="#fff" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>Helpdesk</h3>
                    <p>Deliver a better service experience with an intuitive issue tracker and an integrated knowledge base.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.155" height="21.156" viewBox="0 0 21.155 21.156">
                      <g id="Group_6277" data-name="Group 6277" transform="translate(-3.525 -3.525)">
                        <path id="Mask" d="M12.7,12.4a4.7,4.7,0,1,1,4.7-4.7A4.7,4.7,0,0,1,12.7,12.4Z"
                          transform="translate(1.402 0.525)" fill="#fff" opacity="0.3" />
                        <path id="Mask-Copy"
                          d="M3,21.461C3.456,15.852,8.009,13,13.558,13c5.627,0,10.25,2.7,10.595,8.462a.807.807,0,0,1-.883.94H3.855A1.3,1.3,0,0,1,3,21.461Z"
                          transform="translate(0.525 2.279)" fill="#fff" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>Asset Management</h3>
                    <p>Maintain and Manage details of assets, their movement, value adjustment, and depreciation.</p>
                  </div>

                </div>
              </div>

              <div class="col-md-6 col-lg-4 item__nature">
                <div class="items_serv sevice_block" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon--top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21.155" height="21.156" viewBox="0 0 21.155 21.156">
                      <g id="Group_6277" data-name="Group 6277" transform="translate(-3.525 -3.525)">
                        <path id="Mask" d="M12.7,12.4a4.7,4.7,0,1,1,4.7-4.7A4.7,4.7,0,0,1,12.7,12.4Z"
                          transform="translate(1.402 0.525)" fill="#fff" opacity="0.3" />
                        <path id="Mask-Copy"
                          d="M3,21.461C3.456,15.852,8.009,13,13.558,13c5.627,0,10.25,2.7,10.595,8.462a.807.807,0,0,1-.883.94H3.855A1.3,1.3,0,0,1,3,21.461Z"
                          transform="translate(0.525 2.279)" fill="#fff" />
                      </g>
                    </svg>
                  </div>
                  <div class="txt">
                    <h3>Website</h3>
                    <p>ERPNext comes with fully-featured content management with blogs, web pages, and forms.</p>
                  </div>

                </div>
              </div>



            </div>


          </div>
        </section>
        <!-- End. feature__demo4 -->













        <!-- Start Section Products -->
        <section class="products_section product_demo3 padding-t-12" id="Services">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-5 margin-b-3">
                <div class="title_sections margin-b-4">
                  <div class="before_title">
                    <span>Work</span>
                    <span class="c-green">with us</span>
                  </div>
                  <h2 class="c-dark">
                    We have the expertise to help you successfully launch your
                    ERPNext project.
                  </h2>
                </div>
                <br/><br/>
             
                <img class="illustration d-sm-none d-lg-block" src="../../assets/img/tecno.png" width="460" />
              </div>
              <div class="col-lg-6 ml-sm-auto">
                <div class="row">
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                      <img src="../../assets/img/icons/bonus.svg" />
                      <h3> Best Certified ERP Software </h3>
                      <p>
                        ERPNext has been rated among most successful open source ERP Solution by GetApps. There are several SMBs and Enterprises implementing ERPNext successfully in Dubai. 

                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                      <img src="../../assets/img/icons/blockchain.svg" />
                      <h3>TOP 5 ERP systems rated by Gartner!</h3>
                      <p>
                       Gartner rates ERPNext in top 5 open source ERPs because of its User friendliness and ERPNext can automate your entire business process easily. 
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                      <img src="../../assets/img/icons/cryptocurrency.svg" />
                      <h3>ERPNext Partner in Dubai </h3>
                      <p>
                       Since 2018, Craft Interactive implemented 120+ ERPNext implementation in Dubai, Abu Dhabi, Saudi Arabia and other middleast countries. We have team of 25 ERPNext professional in Dubai. 
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .container -->
        </section>
        <!-- End Section Products -->









