---
title: HRMS and Payroll 
layout: base.njk
tags: ['erpnext', 'link01']
---

 <!-- Start service__about -->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0">
                    <div class="before_title">
                      <span class="c-orange-red">ERPNext / {{title}}</span>
                    </div>
                    <h2>
                      ERPNext makes it easy and efficient to recruit and manage employees and attendance, track leaves and expenses, and handle onboarding, training and appraisals. 
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


                    <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Employee Repository</a>


                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">Talent Acquisition </a>

                  
                      
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false">Employee Training</a>


                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Automatic Attendance</a>
                      
                    <a class="nav-link" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab"
                      aria-controls="v-pills-one" aria-selected="false">Leave Management</a>

                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab"
                      aria-controls="v-pills-two" aria-selected="false">Payroll Period & Tax Slabs</a>

                    <a class="nav-link" id="v-pills-03-tab" data-toggle="pill" href="#v-pills-03" role="tab"
                      aria-controls="v-pills-03" aria-selected="false">Configurable Salary Structures</a>

                    <a class="nav-link" id="v-pills-04-tab" data-toggle="pill" href="#v-pills-04" role="tab"
                      aria-controls="v-pills-04" aria-selected="false">Payroll Entry</a>



                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/employee-repository7db144.png" alt="">
                        
                        </div>
                        <div class="about__info">
                          <p>Managing employee information can be complex and tricky, since it requires tracking external documents. ERPNext lets you upload and share multimedia files (such as images, videos, documents). You can choose to upload the files directly or use a web link.  </p>
                         
                        </div>
                      </div>
                    </div>


                    <div class="tab-pane fade " id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/job-applicantc51a5e.png" alt="">
                          
                        </div>
                        <div class="about__info">
                          <p>
                           Recruit and acquire talent intelligently. Manage hiring with an built-in recruitment tool that lets you plan manpower requirements, publish job openings on your website, review and email applicants, and store documents. With linked data between staffing plans and job openings, we'll make sure you don't exceed your HR budget. 
                            </p>
                        
                        </div>
                      </div>
                    </div>





                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/training-kanban3cc7f5.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Keep upskilling your team with our Human Resource Training Program module. Schedule training events for your employees, which are automatically linked to employee calendars so everyone can view scheduled trainings and plan their to-do lists accordingly. </p>
                         
                        </div>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/energy-point-dashboardd6d000.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Track employee performance maverick-style and redefine team excellence on our Energy Points system. With a built-in appraisal module and dashboard of essential HR KPIs, you can keep an eye on employees' journeys and process salary hikes and bonus for top performers. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-one" role="tabpanel"
                      aria-labelledby="v-pills-one-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/unpaid-expense-claim-report.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Manage expenses, travel requests, and employee advances efficiently with our open source HRMS & payroll software. ERPNext helps managers to see all employee expenses in one go. Easy approvals and out-of-the-box configurable workflows help save the manual effort of managing expense claims. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                      aria-labelledby="v-pills-two-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/monthly-attendance-sheet178ce5.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Our open source HRMS tool flawlessly integrates attendance tracking with payroll and leave management. ERPNext includes multiple options for capturing real-time attendance, including biometric hardware integration. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-03" role="tabpanel"
                      aria-labelledby="v-pills-03-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/leave-calendarda32c2.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Configure leave management options for each department or business unit. Just input weekends, set the number of working hours, grant permission to transfer leaves and more, all within a few clicks. Everything will show up in the leave calendar and centralized leave summary ledgers, which give a transparent view of all employee leave information. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-04" role="tabpanel"
                      aria-labelledby="v-pills-04-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/payroll-period-and-taxable-amountsa8cc80.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Define the period for payroll processing (financial year or monthly, it's your call) and set tax salary slabs for employees. You can also add multiple tax slabs for a payroll period depending on your country's tax regulations.  </p>
                         
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. service__about -->
