---
title: Projects
layout: base.njk
tags: ['erpnext', 'link02']
---

 <!-- Start service__about -->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0">
                    <div class="before_title">
                      <span class="c-orange-red">ERPNext / {{title}}</span>
                    </div>
                    <h2>
                      Organize, schedule, plan and analyze projects with a task-driven approach that will streamline team collaboration and accelerate your work.
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">All-In-One Workspace</a>

                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Agile</a>
                      
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false"> To-Do List & Real-Time Chat </a>


                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false"> Document Storage</a>
                      
                    <a class="nav-link" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab"
                      aria-controls="v-pills-one" aria-selected="false"> Emails</a>

                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab"
                      aria-controls="v-pills-two" aria-selected="false"> Profitability Analysis</a>

                    <a class="nav-link" id="v-pills-03-tab" data-toggle="pill" href="#v-pills-03" role="tab"
                      aria-controls="v-pills-03" aria-selected="false"> Time-Tracking & Billing</a>

                    <a class="nav-link" id="v-pills-04-tab" data-toggle="pill" href="#v-pills-04" role="tab"
                      aria-controls="v-pills-04" aria-selected="false">  Customer Access </a>



                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/projects-task-kanban.png" alt="">
                          
                        </div>
                        <div class="about__info">
                          <p>
                          Keep track of project deadlines and progress with a clear overview. Plan ahead for upcoming projects, using forecasts based on comparable projects, and estimate deadlines more accurately. 
                            </p>
                        
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/all-in-onef7f200.png" alt="">
                        
                        </div>
                        <div class="about__info">
                          <p>Discover the task-driven approach to simplifying your projects. With minimal communication gaps and full transparency, ERPNext makes it easier to share and collaborate across the entire project team. Break down your project into bite-sized tasks and assign them to your team for improved collaboration. Assess project progress and efficiency with clear scope and priorities, estimated timelines, and milestones.   </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/todos-and-chat84a45b.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Make work life easier with this simple, flexible project management software. Create and assign tasks to your employees. The system will automatically add the tasks in their to-dos to keep assignments and task-tracking hassle-free. And with mentions and real-time chat, there's no need to bring external chats into internal communication. </p>
                         
                        </div>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-documents-storage.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Managing projects and all their documents can be tricky, and it's crucial that everyone can access important files. ERPNext lets you upload and share multimedia files (such as images, videos, documents). You can choose to upload the files directly or use a web link.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-one" role="tabpanel"
                      aria-labelledby="v-pills-one-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-email.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Avoid stranding important emails by syncing your email accounts in ERPNext. With a unified trail of all correspondence and auto-replies for incoming emails, you can count on smooth communication with all stakeholders (be it the internal project team members or external clients).  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                      aria-labelledby="v-pills-two-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/budget-variance-report.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Stay on top of project budgets and expenses with accurate, current insights. Plan the cost for each project phase, allocate budgets against projects, and see how much of your allocated budget has been spent — all at a glance. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-03" role="tabpanel"
                      aria-labelledby="v-pills-03-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/project-billing-summary.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Simplify tracking by defining actionable items — the activities for projects and tasks, based on what needs to be done. Capture resource costs and billing to get insights on project profitability. Directly link work to payroll to process salaries instantly. 
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-04" role="tabpanel"
                      aria-labelledby="v-pills-04-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/customer-accessef27fc.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>If you work with clients, you'll love ERPNext. Get everything on the record with your clients and your team. Using ERPNext, clients can not only view project status but also raise support issues, scan invoices billed, and so on. You can also use it for announcements as well! Give your customers a full-fledged, flawless experience while they await the delivery of your services.  </p>
                         
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. service__about -->
