---
title: Sales and Purchase
layout: base.njk
tags: ['erpnext', 'link01']
---

 <!-- Start service__about -->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0">
                    <div class="before_title">
                      <span class="c-orange-red">ERPNext / {{title}}</span>
                    </div>
                    <h2>
                      A modern cloud manufacturing ERP software that simplifies the production cycle, helps track material consumption, exhibits capacity planning, handles subcontracting, and more! 
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">Real-Time View Of Your Sales & Purchases </a>

                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Item Variants</a>
                      
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false"> Track Serial Numbers</a>


                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Manage Lots</a>
                      
                    <a class="nav-link" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab"
                      aria-controls="v-pills-one" aria-selected="false"> Multi-Channel Sales</a>

                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab"
                      aria-controls="v-pills-two" aria-selected="false"> Elegant Print Formats</a>

                    <a class="nav-link" id="v-pills-03-tab" data-toggle="pill" href="#v-pills-03" role="tab"
                      aria-controls="v-pills-03" aria-selected="false"> Powerful Marketing Tools</a>

                    <a class="nav-link" id="v-pills-04-tab" data-toggle="pill" href="#v-pills-04" role="tab"
                      aria-controls="v-pills-04" aria-selected="false">  Journals And Payments</a>



                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-sales-dashboardaa4032.png" alt="">
                          
                        </div>
                        <div class="about__info">
                          <p>
                           ERPNext brings all critical sales and purchase data to one place. Dashboards provide an at-a-glance view of key performance indicators relevant to business processes. With configurable accounting dimensions and customizable dashboards, it's finally possible to analyze every component of your business in one place. 
                            </p>
                        
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-item-variants.png" alt="">
                        
                        </div>
                        <div class="about__info">
                          <p>Businesses have to manage thousands of product permutations in different colors, finishes, shapes and sizes. In ERPNext, the primary item is stored as an item template, and each of the variations is stored as an item variant.  </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-serialised-inventory.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>ERPNext's Serialized Inventory feature comes in handy for maintaining a real-time view of product availability and stock across locations. You can even use a serial number to track the whole lifecycle of an item — from its procurement or manufacture to sale and delivery. Scan barcodes with your device camera for blazing fast search and quicker results.  </p>
                         
                        </div>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-batches.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Batched items can be easily managed with ERPNext's integrated inventory — maintain manufacturing dates and expiration dates, analyze item expirations, and so on. You can also set up automatic batch naming so that all your team has to worry about is procurements and sales, not maintaining batch IDs.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-one" role="tabpanel"
                      aria-labelledby="v-pills-one-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/erpnext-integrations.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Be it Shopify, WooCommerce or Amazon MWS, it's easily to integrate ERPNext's items, customers, and sales orders with third-party sales apps. It just takes a 4-click configuration to make sales smoother and your life easier.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                      aria-labelledby="v-pills-two-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/sp-quotations-print.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>First impressions matter. Beautify your quotations and keep documents flawless and consistent with custom print format templates (using HTML or Jinja templating) and one-time configuration. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-03" role="tabpanel"
                      aria-labelledby="v-pills-03-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/newsletterbd704e.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Our open-source CRM tool makes your lead closure soar. Use email campaigns for targeted marketing, send bulk emails to your customers with beautiful newsletters, and reap the benefits of your campaigns with granular analysis of lead sources.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-04" role="tabpanel"
                      aria-labelledby="v-pills-04-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/general-ledger.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p> Maintain a clean and crisp ledger to avoid mismatches when closing accounts. Track income and expenses (deferred or accrued), set up notifications for period closing, and control cash flow. Advance payments can be recorded and reconciled in one go.  </p>
                         
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. service__about -->
