---
title: Website
layout: base.njk
tags: ['erpnext', 'link02']
---

 <!-- Start service__about -->
        <section class="service__about padding-py-12">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="d-sm-flex justify-content-between">
                  <div class="title_sections mb-0">
                    <div class="before_title">
                      <span class="c-orange-red">ERPNext / {{title}}</span>
                    </div>
                    <h2>
                      A modern cloud manufacturing ERP software that simplifies the production cycle, helps track material consumption, exhibits capacity planning, handles subcontracting, and more! 
                    </h2>
                  </div>
                 
                </div>
              </div>
            </div>

            <div class="body__tab">
              <div class="row">
                <div class="col-lg-4">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                      aria-controls="v-pills-home" aria-selected="true">Total control over your production </a>

                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                      aria-controls="v-pills-profile" aria-selected="false">Bill of material (BOM)</a>
                      
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                      aria-controls="v-pills-messages" aria-selected="false"> Shop floor management</a>


                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                      aria-controls="v-pills-settings" aria-selected="false">Subcontracting</a>
                      
                    <a class="nav-link" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab"
                      aria-controls="v-pills-one" aria-selected="false">Item variants</a>

                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab"
                      aria-controls="v-pills-two" aria-selected="false">Batched inventory</a>

                    <a class="nav-link" id="v-pills-03-tab" data-toggle="pill" href="#v-pills-03" role="tab"
                      aria-controls="v-pills-03" aria-selected="false">Serialized inventory</a>

                    <a class="nav-link" id="v-pills-04-tab" data-toggle="pill" href="#v-pills-04" role="tab"
                      aria-controls="v-pills-04" aria-selected="false">Material resource planning</a>



                  </div>
                </div>

                <div class="col-lg-8 ml-auto">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/production-analytics.png" alt="">
                          
                        </div>
                        <div class="about__info">
                          <p>
                           Integrate your production planning and shop floor. ERPNext's customer management, sales orders, inventory, purchasing, accounting, and financial reporting make real-time coordination across all your business verticals easier. 
                            </p>
                        
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/bill-of-materials.png" alt="">
                        
                        </div>
                        <div class="about__info">
                          <p>A bill of material is at the heart of any cloud manufacturing software, and a well-defined BOM ensures robustness and accuracy. ERPNext's BOM is hierarchical, with the finished product at the top. It also includes product codes, part descriptions, quantities, costs and additional specifications.  </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/shopfloor-management39c837.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>With ERPNext's job cards, operations and workstations features, you can automatically capture daily activities on your shop floor. View real-time status of the job work being done to manufacture products, the location of every workstation, employee assignments, and each work order's current status and pending steps — all in one screen.  </p>
                         
                        </div>
                      </div>

                    </div>

                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/subcontracting-stock-entry.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Does your business involve outsourcing processes to a supplier? Check out the subcontracting feature in ERPNext. It makes it easy to supply raw materials and track suppliers' labor and operations. Finished goods are valued based on the cost of raw materials and procured services.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-one" role="tabpanel"
                      aria-labelledby="v-pills-one-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/item-variants.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Suppose you produce t-shirts in different sizes and colors. You'll need to track each type of t-shirt and its variants, known as item variants. In ERPNext, the primary item is stored as an item template, and each of the variations is stored as an item variant. You can store any attribute, such as color or shape, for each item variant.  </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel"
                      aria-labelledby="v-pills-two-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/batched-inventory.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>With ERPNext's integrated inventory, managing batched items is simple. Its real-time view of product availability maintains each batch's manufacturing dates, expiration dates, and other details. You can even scan item barcodes with your device camera to quickly search through your stock and make data-driven decisions. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-03" role="tabpanel"
                      aria-labelledby="v-pills-03-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/serialised-inventory.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Use serial numbers to uniquely identify units. Set up naming series, and ERPNext will automatically create serial numbers for new stock. You can even scan item barcodes via your device camera for easy search through all your stock. </p>
                         
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-04" role="tabpanel"
                      aria-labelledby="v-pills-04-tab">

                      <div class="block_video">
                        <div class="cover_video">
                          <img src="/assets/img/production-plan.png" alt="">
                         
                        </div>
                        <div class="about__info">
                          <p>Be it a work order against sales or material requests, ERPNext will show every aspect of your MRP. Track material consumption of serialized or batched inventory to curb expenses and achieve zero wasted resources.  </p>
                         
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- End. service__about -->
