---
title: Company 
layout: base.njk
---


      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start banner_about -->
        <section class="pt_banner_inner banner_about_two">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <div class="banner_title_inner">
                  <div class="before_title" data-aos="fade-up" data-aos-delay="0">
                    <span class="c-green2 font-w-500">Welcome 🖐</span>
                  </div>
                  <h1 data-aos="fade-up" data-aos-delay="100">
                    We're excited to help you on your journey!
                  </h1>
                  <p data-aos="fade-up" data-aos-delay="200">
                    Leave us a little info, and we’ll be in touch.
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="container-fluid pl-0">

            <div class="row">
              <div class="col-lg-12">
                <div class="parallax_cover">
                  <img class="cover-parallax" src="/assets/img/company_02.webp" alt="image">
                </div>
              </div>
            </div>

          </div>

          



        <!-- Start about_cc_grid -->
        <section class="about_cc_grid padding-py-12" id="About">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="title_sections_inner mb-0">
                  <div class="before_title">
                    <span class="c-orange-red">About Us</span>
                  </div>
                  <h2>Craft Interactive  is focused on providing customers with consulting, customization, implementations, Training for ERPNext and Odoo </h2>
                </div>
              </div>
              <div class="col-lg-6 ml-auto">
                <div class="title_sections_inner mb-0">
                  <p>
                      
                      
                      We are a UAE based Software Company. We cater to a wide spectrum of computerization in Management and Information Technology. We provide solutions according to customer’s specific needs so that its help them to achieve their business goals. The perfect blend of technical excellence, business performance monitoring, business intelligence and customer experience management is makes us endearing to our client. 
                       <br>
                    <br>
                      Craft Interactive is the Silver Partner of ERPNext and we have the experience and expertise in implementing ERPNext software for different companies in UAE and Middle East.


                      
                     </p>
                </div>
              </div>
            </div>


        </section>
        <!-- End. about_cc_grid -->







        <!-- Start our_story -->
        <section class="software_web our_story margin-t-6" id="About">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 margin-t-8">
                <div class="item__section mb-4 mb-lg-0">
                  <div class="media">
                    <div class="icon_sec">
                      <svg xmlns="http://www.w3.org/2000/svg" width="23.589" height="20.716"
                        viewBox="0 0 23.589 20.716">
                        <path id="Combined-Shape"
                          d="M25.56,17.147l.029-.012v5.4a1.178,1.178,0,0,1-2.011.833l-2.7-2.7H5.534A3.534,3.534,0,0,1,2,17.136V6.534A3.534,3.534,0,0,1,5.534,3H22.026A3.534,3.534,0,0,1,25.56,6.534v10.6S25.56,17.143,25.56,17.147ZM6.91,11.9c1.778,2.667,4.1,4.058,6.87,4.058s5.092-1.391,6.87-4.058a1.178,1.178,0,1,0-1.96-1.307c-1.363,2.044-2.971,3.009-4.91,3.009s-3.547-.965-4.91-3.009A1.178,1.178,0,1,0,6.91,11.9Z"
                          transform="translate(-2 -3)" fill="#fff" fill-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="media-body">
                      <div class="title_sections mb-0">
                        <div class="before_title">
                          <span class="c-green2">Lets's Go</span>
                        </div>
                        <h2>Our Story</h2>
                        <p>
                          
                          
                          We are a team of experts in ERP Systems formed Craft Interactive in 2017. Together we have decades of experience and all the skills necessary to deliver successful ERP solutions for our clients.

 Over the years, it has become clear that the number one goal for most companies is to streamline their business and in turn improve customer retention.
                          
                         
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mt-4 mt-lg-0 ml-auto">
                <div class="image_grid">
                  <img class="img-fluid img_one" src="/assets/img/company_random_01.webp" alt="">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-5 mt-4 mt-lg-0 mx-auto">
                <div class="image_grid">
                  <div class="before_line">
                    <img class="img-fluid img_two" src="/assets/img/company_random_02.webp"  alt="">
                  </div>
                </div>
              </div>
              <div class="col-lg-5 mt-4 mt-lg-0 ml-auto">
                <div class="image_grid">
                  <img class="img-fluid img_three" src="/assets/img/company_random_03.webp" alt="">
                </div>
              </div>
            </div>

            <div class="row margin-t-8">
              <div class="col-lg-6">
                <p class="font-s-18 c-gray">
                  From business process inquiry and modelling, to systems engineering, we provide tailored services to enable integrated digital enterprise, where all systems work as a whole. You receive ERP, CRM, BI and custom apps, that solve enterprise integrity, communication and collaboration problems and increase personnel productivity.

                </p>
              </div>
              <div class="col-lg-5 ml-auto">
                <p class="font-s-18 c-gray">


                    The main objective of Craft Interative is the provision of IT services such as design, implementation and support for customized ERP software for the corporate sector.

Quality is guaranteed with the use of cutting-edge solutions, technologies and methods that allow us to obtain results that have always satisfied our most demanding customers.


       
                 


                </p>
              </div>
            </div>

          </div>
        </section>
        <!-- End.our_story -->
